doctype html
head
  title= title
  link(rel='stylesheet' type='text/css' href='css/w3.css')
  link(rel='stylesheet' type='text/css' href='css/index.css')
  link(rel='stylesheet' type='text/css' href='css/fonts.css')
  link(rel='stylesheet' type='text/css' href='css/perfect-scrollbar.css')
body
  #over-main
    h1(class='title')= title
    button#save(class='w3-button colored') SAVE
    button#edit(class='w3-button colored') EDIT
  #main(class='')
    #side-panel(class='bordered')
      include side-content.pug
    #main-panel(class='bordered')
      include main-content.pug
    #bottom-panel(class='bordered')
      include bottom-content.pug
  script(type='text/javascript' src='js/bundle.js')