doctype html
head
  title= title
  link(rel='stylesheet' type='text/css' href='css/w3.css')
  link(rel='stylesheet' type='text/css' href='css/index.css')
  
body(class='w3-display-container')
  #main(class='')
    h1#title= title
    #side-panel(class='shared')
      include side-content.pug
    #main-panel(class='w3-container shared')
      include main-content.pug
    #bottom-panel(class='w3-container shared')
      include bottom-content.pug
  script(type='text/javascript' src='js/bundle.js')