#container
  each category in categories
    #buttons
      button(
        class='w3-button w3-block w3-center category'
      )= category.name
    div(id= category.name class='w3-hide drawer')
      each sentence in category.content
        span(class='sentence draggable')= sentence