.bordered {
  border: 4px solid black;
}

.content {
  height:50%;
  overflow:auto;
}

#over-main {
  margin:0 auto;
  width:1024px;
  height:50px;
  position:relative;
  margin-top:20px;
  margin-bottom:20px;
}

.title {
    font-family: 'ZillaSlab-SemiBold';
    position:absolute;
    left:0
}

#edit {
    font-family: 'ZillaSlab-SemiBold';
    position:absolute;
    right:60px;
    bottom:0;
}

#save {
    font-family: 'ZillaSlab-SemiBold';
    position:absolute;
    right:0;
    bottom:0;
}

#main {
  height:720px;
  width:1024px;
  margin:0 auto;
  position:relative;
}

#side-panel {
  height:100%;
  width:300px;
  float:left;
  position:absolute;
}

#container {
    position:relative;
    overflow:hidden;
    height:100%
}

#main-panel {
  height:73%;
  width:70%;
  left:30%;
  float:right;
  position:absolute;
}

#canvas {
    height:100%;
    overflow:hidden;
    position:relative;
    padding:8px
}

#bottom-panel {
  height:25%;
  width:70%;
  float:right;
  position:absolute;
  left:30%;
  bottom:0%;
  padding: 8px;
}

#sliders {
    width:40%;
    height:100%;
    float:left;
}

#selector {
    width:55%;
    height:100%;
    float:right;
}

.drawer {
    bottom: 0;
}

.sentence {
    margin:4px 4px 4px;
    padding:2px;
    display:inline-block;
    background-color:black;
    color:white;
}

.range {
    float:right;
}

#font-select {
    size:5;
}
