.body-container {
  display: flex;
  flex-direction: row;
  height: 700px;
  width: 900px;
}

.body-left {
  display: flex;
  flex: 2;
  margin-right: 4px;
}

.body-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 5;
}