    /*
    Flaticon icon font: Flaticon
    Creation date: 16/01/2018 09:24
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-sort-2:before { content: "\f100"; }
.flaticon-002-indent-3:before { content: "\f101"; }
.flaticon-003-indent-2:before { content: "\f102"; }
.flaticon-004-cells-1:before { content: "\f103"; }
.flaticon-005-cells:before { content: "\f104"; }
.flaticon-006-right-alignment-2:before { content: "\f105"; }
.flaticon-007-align-center-2:before { content: "\f106"; }
.flaticon-008-align-left-2:before { content: "\f107"; }
.flaticon-009-right-alignment-1:before { content: "\f108"; }
.flaticon-010-align-center-1:before { content: "\f109"; }
.flaticon-011-align-left-1:before { content: "\f10a"; }
.flaticon-012-right-alignment:before { content: "\f10b"; }
.flaticon-013-align-center:before { content: "\f10c"; }
.flaticon-014-align-left:before { content: "\f10d"; }
.flaticon-015-text:before { content: "\f10e"; }
.flaticon-016-paragraph:before { content: "\f10f"; }
.flaticon-017-left-quote:before { content: "\f110"; }
.flaticon-018-right-quote:before { content: "\f111"; }
.flaticon-019-underline:before { content: "\f112"; }
.flaticon-020-italic:before { content: "\f113"; }
.flaticon-021-bold:before { content: "\f114"; }
.flaticon-022-text-width:before { content: "\f115"; }
.flaticon-023-text-height:before { content: "\f116"; }
.flaticon-024-font-size:before { content: "\f117"; }
.flaticon-025-type:before { content: "\f118"; }
.flaticon-026-border-6:before { content: "\f119"; }
.flaticon-027-border-5:before { content: "\f11a"; }
.flaticon-028-cursor:before { content: "\f11b"; }
.flaticon-029-superscript:before { content: "\f11c"; }
.flaticon-030-sort-1:before { content: "\f11d"; }
.flaticon-031-subscript:before { content: "\f11e"; }
.flaticon-032-strikethrough:before { content: "\f11f"; }
.flaticon-033-split:before { content: "\f120"; }
.flaticon-034-resize-font-1:before { content: "\f121"; }
.flaticon-035-resize-font:before { content: "\f122"; }
.flaticon-036-top:before { content: "\f123"; }
.flaticon-037-border-4:before { content: "\f124"; }
.flaticon-038-border-3:before { content: "\f125"; }
.flaticon-039-border-2:before { content: "\f126"; }
.flaticon-040-border-1:before { content: "\f127"; }
.flaticon-041-clear:before { content: "\f128"; }
.flaticon-042-bottom-1:before { content: "\f129"; }
.flaticon-043-border:before { content: "\f12a"; }
.flaticon-044-merge:before { content: "\f12b"; }
.flaticon-045-table:before { content: "\f12c"; }
.flaticon-046-formula:before { content: "\f12d"; }
.flaticon-047-bottom:before { content: "\f12e"; }
.flaticon-048-top-alignment:before { content: "\f12f"; }
.flaticon-049-center-align:before { content: "\f130"; }
.flaticon-050-columns:before { content: "\f131"; }
.flaticon-051-list-1:before { content: "\f132"; }
.flaticon-052-list:before { content: "\f133"; }
.flaticon-053-sort:before { content: "\f134"; }
.flaticon-054-indent-1:before { content: "\f135"; }
.flaticon-055-indent:before { content: "\f136"; }
    
    $font-Flaticon-001-sort-2: "\f100";
    $font-Flaticon-002-indent-3: "\f101";
    $font-Flaticon-003-indent-2: "\f102";
    $font-Flaticon-004-cells-1: "\f103";
    $font-Flaticon-005-cells: "\f104";
    $font-Flaticon-006-right-alignment-2: "\f105";
    $font-Flaticon-007-align-center-2: "\f106";
    $font-Flaticon-008-align-left-2: "\f107";
    $font-Flaticon-009-right-alignment-1: "\f108";
    $font-Flaticon-010-align-center-1: "\f109";
    $font-Flaticon-011-align-left-1: "\f10a";
    $font-Flaticon-012-right-alignment: "\f10b";
    $font-Flaticon-013-align-center: "\f10c";
    $font-Flaticon-014-align-left: "\f10d";
    $font-Flaticon-015-text: "\f10e";
    $font-Flaticon-016-paragraph: "\f10f";
    $font-Flaticon-017-left-quote: "\f110";
    $font-Flaticon-018-right-quote: "\f111";
    $font-Flaticon-019-underline: "\f112";
    $font-Flaticon-020-italic: "\f113";
    $font-Flaticon-021-bold: "\f114";
    $font-Flaticon-022-text-width: "\f115";
    $font-Flaticon-023-text-height: "\f116";
    $font-Flaticon-024-font-size: "\f117";
    $font-Flaticon-025-type: "\f118";
    $font-Flaticon-026-border-6: "\f119";
    $font-Flaticon-027-border-5: "\f11a";
    $font-Flaticon-028-cursor: "\f11b";
    $font-Flaticon-029-superscript: "\f11c";
    $font-Flaticon-030-sort-1: "\f11d";
    $font-Flaticon-031-subscript: "\f11e";
    $font-Flaticon-032-strikethrough: "\f11f";
    $font-Flaticon-033-split: "\f120";
    $font-Flaticon-034-resize-font-1: "\f121";
    $font-Flaticon-035-resize-font: "\f122";
    $font-Flaticon-036-top: "\f123";
    $font-Flaticon-037-border-4: "\f124";
    $font-Flaticon-038-border-3: "\f125";
    $font-Flaticon-039-border-2: "\f126";
    $font-Flaticon-040-border-1: "\f127";
    $font-Flaticon-041-clear: "\f128";
    $font-Flaticon-042-bottom-1: "\f129";
    $font-Flaticon-043-border: "\f12a";
    $font-Flaticon-044-merge: "\f12b";
    $font-Flaticon-045-table: "\f12c";
    $font-Flaticon-046-formula: "\f12d";
    $font-Flaticon-047-bottom: "\f12e";
    $font-Flaticon-048-top-alignment: "\f12f";
    $font-Flaticon-049-center-align: "\f130";
    $font-Flaticon-050-columns: "\f131";
    $font-Flaticon-051-list-1: "\f132";
    $font-Flaticon-052-list: "\f133";
    $font-Flaticon-053-sort: "\f134";
    $font-Flaticon-054-indent-1: "\f135";
    $font-Flaticon-055-indent: "\f136";