.header {
  margin-left: 0;
  flex: 1;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  display: flex;
}

.header h1 {
  margin-bottom: 0;
  font-family: 'ZillaSlab-SemiBold';
}